/* Coolors Exported Palette - https://coolors.co/313e50-3a435e-455561-5c6672-6c6f7f */

/* CSS */
--charcoal: hsla(215, 39%, 31%, 1);
--independence: hsla(225, 38%, 37%, 1);
--black-coral: hsla(206, 29%, 38%, 1);
--black-coral-2: hsla(213, 19%, 45%, 1);
--black-coral-3: hsla(231, 15%, 50%, 1);

/* SCSS HEX */
$charcoal: #313e50ff;
$independence: #3a435eff;
$black-coral: #455561ff;
$black-coral-2: #5c6672ff;
$black-coral-3: #6c6f7fff;

/* SCSS HSL */
$charcoal: hsla(215, 39%, 31%, 1);
$independence: hsla(225, 38%, 37%, 1);
$black-coral: hsla(206, 29%, 38%, 1);
$black-coral-2: hsla(213, 19%, 45%, 1);
$black-coral-3: hsla(231, 15%, 50%, 1);

/* SCSS RGB */
$charcoal: rgba(49, 62, 80, 1);
$independence: rgba(58, 67, 94, 1);
$black-coral: rgba(69, 85, 97, 1);
$black-coral-2: rgba(92, 102, 114, 1);
$black-coral-3: rgba(108, 111, 127, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-right: linear-gradient(90deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-bottom: linear-gradient(180deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-left: linear-gradient(270deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-top-right: linear-gradient(45deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-bottom-right: linear-gradient(135deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-top-left: linear-gradient(225deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-bottom-left: linear-gradient(315deg, #313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);
$gradient-radial: radial-gradient(#313e50ff, #3a435eff, #455561ff, #5c6672ff, #6c6f7fff);