/*MAIN*/
/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    margin: 20px;
    /* background-color:#313E50; */
    color: #fff;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Raleway', sans-serif;
    /* background-color: #3a435e; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23455561'/%3E%3Cstop offset='1' stop-color='%233a435e'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%235c6672' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%235c6672' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* flex: -webkit-inline-flex; */

}

canvas {
    display: block;
    vertical-align: bottom;
  }

header {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
    color: lightgray;
    /* color: #fff; */
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    /* background-color: #313e50; */
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233a435e' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%235c6672'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
}

footer{
    padding: 10px;
    /* color: #fff; */
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    /* background-color: #313e50; */
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233a435e' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%235c6672'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
}

h1{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    margin: 20px;
}

h2{
    text-align: center;
    font-size: 30px;
    /* color: gray; */
    margin: 20px;
}

h3{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    /* color: #E1E5F2; */
    margin: 15px;
    margin-top: 0px;
}

p{
    font-size: 18px;

}


/*FORM LAYOUT*/
form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 120px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    font-family: 'Raleway', sans-serif;
    flex-basis: 50%;
    border: 2px solid #6C6F7F;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #FFF;
    transition: all 0.4s ease-out;

}

.form-item input,
.form-item textarea,
.form-item button {
    font-family: 'Raleway', sans-serif;
    border: 2px solid #6C6F7F;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    
}

.form-item button:hover {
    border: 2px solid #6C6F7F;
    background-color: #5C6672;
    color: #FFF;
    transition: all 0.4s ease-out;

}

.form-item button {
    font-family: 'Raleway', sans-serif;
    width: 100px;
}

/*HOMEPAGE LAYOUT*/
/*pictures*/
#home-pic{
    width: 55%;
    /* height:35%; */
    height: auto;
    padding: 30px;
    padding-bottom: 10px;

}

#body-pic1{
    /* width: 45%; */
    width: 100%;
    padding: 10px;
    height: auto;
    align-items: flex-start;
    object-fit: cover;
}

#project-pic{
    width: 80vw;
}

.icon{
    width: 30%;
    height:auto;
    /* filter: drop-shadow(0 0 30px #6C6F7F); */
}

/* img.icon:hover{
    filter: drop-shadow(0 0 30px #313e50);
} */

/*layout */
.home-pic-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#content{
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    /* margin: 50px auto;
    width: 90%; */
}

#about{
  flex-direction: column;
}

.about-text{
  flex-basis: 50%;
  margin: 2vw;
}

.photo{
  margin: 1vw;
  flex-basis: 40%;
}

.tools-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tools-card{
  flex-direction: column;
  width: 50%;
}

hr {

  border: 0;
  height: 1px;
  opacity: .6;
  background-image: linear-gradient(
    to right, 
    rgba(255,255,255,.2), 
    rgba(255,255,255,1), 
    rgba(255,255,255,.2)
  );
}

#social-links{
  padding-top: 5px;
  justify-content: center;
  align-content: center;
    display: flex;
    flex-direction: row;
}

#web-link{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  text-decoration: none;
  color: white;
  justify-content: center;
}

#web-link:hover {
  color: lightgray;
  transition: all 0.5s;
  cursor: pointer;
}

.nav-text{
    text-decoration: none;
    display: inline-flex;
    flex-grow: 1;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #FFF;
    font-size: 15px;
    /* font-style: italic; */
    text-align: center;
}

.nav-text a:hover {
  transform: scale(1.1);
    font-weight: bold;
    background-color: #5C6672;
}

/* Grow */
.nav-text {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.nav-text:hover,
.nav-text:focus,
.nav-text:active {
    transform: scale(1.1);
}

.card{
  display: flex;
    justify-content: center;
    margin:0 auto;
    /* width: 90%; */
    flex-basis: 90%;
    flex-wrap: wrap;
}

.card-text{
    text-align: left;
    /* padding : 5px;
    margin: 10px; */
    flex-wrap: wrap;
    /* width: 50%; */
    flex-basis: 90%;

    padding : 0.2vw;
    margin: 0.1vw;

 }

div.card{
    /* border:2px solid #6C6F7F; */
    /* margin: 10px;
    border-radius: 5px;
    padding: 10px; */
    flex-basis: auto;

    margin: 0.1vw;
    border-radius: 0.1vw;
    padding: 1vw;
}

/* .body-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 90%; 
    flex-direction: row;

} */

.tools-card{
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin:0;
    /* flex-wrap: wrap; */
}

#portfolio-card{
    padding: 0px;
    margin: 0px;
}

.intro-text{
    text-align: center;
    font-size: 23px;
}

/* Home button */
.homebutton-container{
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
}
.homebutton {
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    background-color: #313E50;
    border-radius: 10px;
    border:none;
    /* border: 4px double #cccccc; */
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .homebutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .homebutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .homebutton:hover {
    background-color: #6C6F7F;
  }
  .homebutton:hover span {
    padding-right: 25px;
  }
  .homebutton:hover span:after {
    opacity: 1;
    right: 0;
  }
.blank{
    height: 110vw;
}

#project-text{
    color: whitesmoke;
}
.project-card1, .project-card2 {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw; 
    height: 50vw; 
    background: #3A435E;
    overflow: hidden;
}
.project-card1{
  margin-top: 28vw; /* Half the height */

}

.project-card2{
  margin-top: 80vw; /* Half the height */

}

.project-card2 .details{
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
    background: #3A435E;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}

.project-card1 .details,.project-cardw .details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
    background: #3A435E;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
.project-card1:hover .details,.project-card2:hover .details {
    top: 0;
    left: 0%;
}
.project-card1 .details h2,.project-card2 .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.project-card1 .details p,.project-card2 .details p {
    margin: 20px 0 0;
    color: #fff;
}

  
/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 98%;
    height: 120%;
} 

/* Animation Delay */
  
  .animated-box {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

/* toggle */
/* Credit toggle concept: https://codepen.io/_Raunaq_/pen/wbRwea */

* {
  box-sizing: inherit;
}

.wrapper {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-20%, -80%);
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 100px;
  /* background: #211042; */
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #FAEAF1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #FAEAF1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #FFFFF9;
  width: 86px;
  height: 86px;
  left: 10px;
  bottom: 10px;
}

.crater-2 {
  width: 20px;
  height: 20px;
  top: -7px;
  left: 44px;
}

.crater-3 {
  width: 16px;
  height: 16px;
  top: 20px;
  right: -4px;
}

.crater-4 {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 30px;
}

.crater-5 {
  width: 15px;
  height: 15px;
  top: 40px;
  left: 48px;
}

.crater-6 {
  width: 10px;
  height: 10px;
  top: 48px;
  left: 20px;
}

.crater-7 {
  width: 12px;
  height: 12px;
  bottom: 5px;
  left: 35px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
  width: 6px;
  height: 6px;
  right: 90px;
  bottom: 40px;
}

.star-2 {
  width: 8px;
  height: 8px;
  right: 70px;
  top: 10px;
}

.star-3 {
  width: 5px;
  height: 5px;
  right: 60px;
  bottom: 15px;
}

.star-4 {
  width: 3px;
  height: 3px;
  right: 40px;
  bottom: 50px;
}

.star-5 {
  width: 4px;
  height: 4px;
  right: 10px;
  bottom: 35px;
}

.star-6, .star-7, .star-8 {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #FFF;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 30px;
  bottom: 30px;
  animation-delay: -2s;
}

.star-7 {
  right: 50px;
  bottom: 60px;
}

.star-8 {
  right: 90px;
  top: 10px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #FFF;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}

#hide-checkbox:checked + .toggle {
  background: #24D7F7;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: #F7FFFF;
  transform: translateX(102px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}

#hide-checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #FFF;
  left: 20px;
  top: 25px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #FFF;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #FFF;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #FFF;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-5 {
  width: 60px;
  height: 15px;
  border-radius: 15px;
  background: #FFF;
  left: 30px;
  bottom: 20px;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-6 {
  width: 18px;
  height: 18px;
  background: #FFF;
  border-radius: 50%;
  left: 38px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-7 {
  width: 24px;
  height: 24px;
  background: #FFF;
  border-radius: 50%;
  left: 52px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-8 {
  width: 21px;
  height: 21px;
  background: #FFF;
  border-radius: 50%;
  left: 70px;
  top: 59px;
  box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }
  
  25% {
    transform: translateX(2px);
  }
  
  100% {
    transform: translateX(-2px);
  }
}


body.morning {
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2379a9d1'/%3E%3Cstop offset='1' stop-color='%23f2f2f2'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23b6cee2'/%3E%3Cstop offset='1' stop-color='%23f2f2f2'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(520 0)'%3E%3Cg %3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-216 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.66' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #4B4E6D;
}


/* LinkedIn */
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Git */
.fa-github {
    background: #313E50;
    color: white;
}

/* Spotify */
.fa-spotify {
    background: #3F704d;
    color: white;
}

.fa {
    display: flex;
    padding: 20px;
    size: 80px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 700px) {
  #particles-js {
    position: absolute;
    width: 98%;
    height: 110%;
} 
  .body-div{
    flex-direction: column;
  }
    h1{
        font-size: 7vw;
    }

    h2{
      font-size: 4vw;
    }

    h3{
        font-size: 12px;
    }
    .intro-text{
        font-size: 11px;
    }

    p{
        font-size: 10px;
    }


    .nav-text{
        font-size: 3vw;
    }

    .header{
        padding: 1px;
    }

    .homebutton{
        font-size: 10px;
    }

    footer{
      font-size: 3vw;
  }

    .card-text{
        margin:0;
        padding:0;
        width: 100%;
        display: inline;

        /* max-width: 3vw; */
    }

    #body-pic1, #home-pic{
      padding-top: 0;
        width: 100vw;
    }

    #project-pic{
        width: 80vw;
    }

    div.card{
        border: none;
    }

    .nav-text{
        padding: 1px;
    }

    .photo{
      padding-bottom: 2px;
    }

    .about-text{
      flex-basis: 100%;
    }

    .wrapper {
        position: absolute;
        top: 10%;
        left: 85%;
        transform: translate(-10%, -85%);
      }

    .form-item label{
        font-size: 3vw;
    }

    .project-card1, .project-card2 {
      position: absolute;
  
      top: 0%;
      left: 50%;
      transform: translate(-50%,-0%);
      width: 80vw; 
      height: 50vw; 
      background: #3A435E;
      overflow: hidden;
  }

    .project-card1{
      margin-top: 55vw; 
    
    }
    
    .project-card2{
      margin-top: 110vw; 
    
    }

    .form-item #message-label{
      flex-basis: 90px;
    }

    .form-item textarea#message{
      flex-basis: 210px;
    }

}